#container {
  width: 100vw;
  height: 100vh;
  background-color: #8239df;
  display: flex;
  justify-content: center;
  align-items: center;
}

#drum-machine {
  /* border: 2px solid #fff; */
  display: flex;  
  width: 70%;
  height: 60%;
  padding: 5vmin;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

#pads {
  /* width: 100%;  
  height: 100%; */
  flex: 50%;
  max-width: 50%;
}

.row {
  width: 100%;
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 30%;
  max-width: 30%;
  margin: 5px;
}

#controls {
  flex: 50%;
  max-width: 50%;
}
